@import "variables";

* {
  font-family: 'PressStart2P', sans-serif;
  font-size: 16px;
  color: #222222;
  text-transform: uppercase;
  font-weight: bold;
}

#select-container {
  display: flex;
  justify-content: center;


  &.active {
    > #select-sprites {
      bottom: 0;
      padding: 60px 20px 20px;
      overflow: auto;
    }

    > #select-label > span.indicator::after {
      content: '-';
    }
  }

  #select-label {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 15px;
    padding: 5px;
    cursor: pointer;
    z-index: 5;
    width: 1460px;
    background: -webkit-linear-gradient(0deg, #3232fc 40%, #85e367 40%, #85e367 45%, #ff52e8 45%, #ff52e8 50%, #ff0151 50%, #ff0151 55%, #f9e52e 55%, #f9e52e 60%, #f0f0f0 60%, #f0f0f0 65%, #222222 65%, #222222 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-position: -480px;
    background-repeat: no-repeat;

    &:hover {
      animation: screen-gameboy-text 1.5s;
    }

    > span.indicator::after {
      content: '+';
    }

    > span {
      color: #222222;
    }

  }

  #select-sprites {
    position: absolute;
    background: rgba(249, 229, 46, 0.8);
    z-index: $z-index-header;
    width: 100%;
    top: 0;
    bottom: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    overflow: hidden;
    transition: all 300ms ease-in-out;

    > * {
      line-height: 60px;
      cursor: pointer;
      transition: color 200ms ease-in-out;
      position: relative;
    }

    > *:hover {
      &::before {
        content: '>';
        position: absolute;
        left: -30px;
      }

      &::after {
        content: '<';
        position: absolute;
        right: -30px;
      }
    }
  }
}

@media screen and (min-width: 500px) {
  * {
    font-size: 30px;
  }
}

@media screen and (min-height: 700px) {
  #select-container > #select-sprites > * {
    line-height: 100px;
  }
}
