/******************Reset CSS********************/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

img {
  display: none;
}

/****************End reset CSS******************/


@font-face {
  font-family: 'PressStart2P';
  src: url("../../../src/assets/fonts/PressStart2P.ttf");
}

body {
  height: 100vh;
  width: 100vw;
  background: #222222;
}

#canvas-container {
  height: 576px;
  width: 100%;
  position: relative;
  overflow: auto;
}

#canvas-map-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 1152px;
  overflow: auto;
}


#background-canvas, #foreground-canvas, #background-grid-canvas, #collision-canvas, #collision-canvas {
  position: absolute;
  top: 0;
  left: 0;
}

#foreground-canvas {
  z-index: 0;
}

#background-canvas {
  z-index: -1;
  background: grey;
}

#collision-canvas {
  z-index: 2;

  &.hidden {
    pointer-events: none;
  }
}

#background-grid-canvas {
  z-index: 1;
}

#canvas-element-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  overflow: auto;
}


#elements-canvas, #elements-grid-canvas, #elements-selector-canvas {
  position: absolute;
  top: 0;
  left: 0;
}

#elements-canvas {
  background: #b0b0b0;
  position: relative;
}

#elements-grid-canvas {
  z-index: 1;

}

#elements-selector-canvas {
  z-index: 2;
  pointer-events: none;
}

#selector {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 20;
  display: flex;
  align-items: stretch;
  justify-content: space-evenly;
  padding: 10px 0;
  background: rgba(33, 33, 33, .7);

  * {
    text-shadow: 0 0 1px #222222;
    color: white;
    font-family: 'PressStart2P', sans-serif;
    border: 0;
    background: transparent;
    user-select: none;
    font-size: 10px;
    text-transform: uppercase;
  }

  button {
    border: 2px solid white;
    padding: 5px;
    position: relative;
    margin: 5px;
    cursor: pointer;

    &:active::after {
      content: '';
      position: absolute;
      top: -2px;
      right: -2px;
      bottom: -2px;
      left: -2px;
      background: rgba(33, 33, 33, .3);
    }

    &#canvas-btn {
      border: 2px solid gold;
      color: gold;

      &.active {
        border-color: plum;
        color: plum;
      }

      &:disabled {
        border-color: grey;
        color: grey;
      }
    }

    &:focus {
      outline: none;
    }

    &:disabled {
      cursor: not-allowed;

      &::after {
        content: '';
        position: absolute;
        top: -2px;
        right: -2px;
        bottom: -2px;
        left: -2px;
        background: rgba(255, 255, 255, .5);
      }
    }
  }

  input[type="file"] {
    display: none;
  }

  label {
    font-size: 12px;
    padding: 5px;
    position: relative;
    border: 2px solid crimson;
    cursor: pointer;

    &:active {
      &::before {
        content: '';
        position: absolute;
        top: -2px;
        right: -2px;
        bottom: -2px;
        left: -2px;
        background: rgba(33, 33, 33, .3);
      }
    }
  }

  form {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
    border: 2px solid grey;

    > *:nth-child(4) {
      margin: 0 5px;
    }

    > input:valid + label {
      border: 2px solid green;
    }
  }
}

.hidden {
  opacity: 0;
}
